/* Container styles */
.nav-header {
  background-color: #2c364c;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7dfe9;
}

.nav-header img {
  width: 120px;
}

/* Navigation links */
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.nav-link:hover {
  color: #0b69ff;
}

/* Logout button */
.nav-header button {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.nav-header button:hover {
  background-color: #035cf3;
}

/* Home content */
.home-content {
  padding: 48px 32px;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-content h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 16px;
}

.home-content p {
  color: #ffffff;
  font-size: 25px;
  max-width: 600px;
  margin-bottom: 24px; /* instead of auto horizontal margins */
  text-align: left;
}
@media screen and (max-width: 768px) {
  .home-content {
    align-items: center;
    text-align: center;
    padding: 32px 16px;
  }

  .home-content p {
    text-align: center;
  }
}

.home-content button {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.home-content button:hover {
  background-color: #035cf3;
}
